@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #fffbfb;
  --secondary: #010122;
  --accent: #b8a1a1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #fffbfb;
    --secondary: #010122;
    --accent: #b8b3a1;
  }
}

body {
  color: var(--secondary);
  background: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}
